* {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
}

#title {
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;
}

#main-menu {
    right: 0;

}

menu {
    
    display: flex;
    list-style: none;
    float: right;
}

menu li {
    font-size: 130%;
    letter-spacing: 3px;
    margin: 10px 0 20px 30px;
}

a {
    text-decoration: none;

}

#game-section {
    clear: both;
    text-align: center;
}

#footer-section {
    bottom: 5px;
}